.mobileBack {
  display: none;
}

@media screen and (max-height: 700px) and (min-width: 450px) {
  .topbar {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    height: 70vh;
    margin-left: 30px;
    min-height: 600px;
    flex-direction: column-reverse;
    margin-top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    min-width: 300px;
    width: 90%;
  }
  .topbar {
    min-width: 300px;
    width: 90%;
  }
  .bottombar {
    min-width: 300px;
    width: 90%;
  }
  .navbar .logo-image {
    width: 160px;
  }
  .navbar.sub-page {
    transform: translateX(-35%);
  }
  .linkList a {
    font-size: 12px;
    letter-spacing: 0.3px;
  }
  #collection .collectionList {
    top: 20%;
  }
  .navbar {
    width: 50%;
  }
  #contactwindow {
    overflow-y: scroll;
  }
  #contactwindow .container {
    flex-direction: column;
    height: auto;
  }
  #contactwindow .container .left {
    width: 90%;
  }
  #contactwindow .container .left h2 {
    margin: 0 0 40px;
    font-size: 25px;
  }
  #contactwindow .container .left .rows {
    flex-direction: column;
  }
  #contactwindow .container .left .row {
    width: 100%;
  }
  #contactwindow .container .left .row input {
    margin-bottom: 20px;
  }
  #contactwindow .container .left .logo {
    height: 200px;
    margin-top: 20px;
  }
  #contactwindow .container .divLine {
    width: 90%;
    height: 1px;
    margin: 60px auto;
  }
  #contactwindow .container .right {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .mobileBack {
    display: inline-block;
  }
  .navbar.sub-page {
    transform: translateX(-200%);
  }
  .about,
  .collection,
  .resources,
  .craftmanship {
    width: 90%;
    left: 0;
    margin-left: 5%;
    padding-right: 5%;
  }
  .main-container {
    min-height: 85%;
  }
  .topbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0;
    position: static;
    height: auto;
  }
  #collection .collectionList {
    top: 30%;
  }
  .collectionNode {
    width: 100%;
    margin-left: 5%;
  }
  .collectionName p {
    font-size: 12px;
  }
  .line {
    display: none;
  }
  #contactwindow .container .left h2 {
    font-size: 22px;
  }
  #retailerswindow #close-retailer {
    margin-left: 91%;
    top: 3%;
  }
  #retailerswindow .container #countries {
    flex-direction: column;
  }
  #retailerswindow .container #countries .country {
    height: 50px;
  }
  #retailerswindow .container h2 {
    letter-spacing: 0.3px;
    text-align: center;
  }
  #retailerswindow .container #location .list {
    padding-left: 0;
  }
}
